{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/style.css')}}">
{% endblock %}

{% block content %}
    管理者ページ<br>
    <a href="{{url_for('register_book')}}">図書を登録する</a><br>
    <a href="{{url_for('select_book')}}">図書一覧</a><br>
    <a href="{{url_for('search_book')}}">図書検索</a><br>
    <a href="{{url_for('delete_book')}}">図書削除</a><br>
    <a href="{{url_for('update_book')}}">図書更新</a><br>
    <a href="{{url_for('logout')}}">ログアウト</a>
{% endblock %}